/*
Theme Name: Ms-Alur
Theme URI: http://ms-alur.loc/
Description: Description
Version: 1.0
Author: Kol4ak
Author URI: http://example.com/
Tags: one, two
*/
@font-face {
	font-family: HeliosBold;
	src:url(Helios-Bold.otf);
}
/*@font-face {
	font-family: Helvetica;
	src:url(HVYU.PFM);
}*/

html {
	height: 100%;
	width:100%;
	top: 0;
	left: 0;
	margin:0;
	position: relative;

}
body{
	background:url(i/wrapper.png) repeat-x;
	background-color: #0D0D0D;
	position: relative;

}


button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #383a42;
  color: #555; 
}




.page {
	width: 1100px;
	margin:0 auto 0 ;
	margin-top:60px;
	height: 100%;
	position: relative;
}
/*
	HEADER
*/
header {
	position: relative;
	width: 1100px;
	height: 145px;
	margin-top:10px;
	outline: 1px solid red;
	float: left;
	outline: 0px solid blue;
	background-color: black;

}
.left_h {
	float:left;
	width: 365px;
	height: 135px;
	background-color: black;
	
}
.right_h{
	float:left;
	width: 735px;
	height: 135px;
	background:url(i/right-h.png);
	
}
.logo{
	width: 140px;
	height: 125px;
	outline: 0px solid red;
	margin-left:10px;
	margin-top:10px;
	background: url(i/logo.png) no-repeat;
}
.name_blog {
	width: 245px;
	height: 25px;
	outline: 0px solid blue;
	background: url(i/name-blog.png) no-repeat;
	position: absolute;
	left:120px;
	bottom:100px;
}
.description {
	width: 200px;
	height: 30px;
	outline: 0px solid yellow;
	color:white;
	text-align: right;
	font-family: Helvetica;
	font-size: 10px;
	text-transform: uppercase;
	position: absolute;
	left:170px;
	bottom:20px;
}

.main_menu {
	width: 705px;
	height: 55px;
	outline: 0px solid green;
	position:absolute;
	top:80px;
	margin-left:36px;
}
.main_menu ul{
	margin: 0;
	padding: 0;
}
.main_menu li{
	float: left;
	position: relative;
	list-style-type: none;
	height: 55px;
	outline: 0px solid red;
	margin: 0;
	font-family: HeliosBold;
	font-size: 14px;
	text-decoration: none;

}
.main_menu li a{
	margin: 0;
	margin:20px;
	padding: 0;
	font-family: 'HeliosBold';
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	color: white;
	outline: 0px solid gray;

}
.main_menu li:hover{
	background: #6dc5f0;

}
 .main_menu .current-menu-item {
	background: #6dc5f0;
}
.line_h {
	position: relative;
	width: 1080px;
	height: 10px;
	background-color: #6dc5f0;
	float: left;
	margin-left:10px;
}

/*
	WRAPPER
*/
.wrapper {
	width: 1100px;
	height: 100%;
	position: relative;
	float: left;
	background-color:black;
	outline: 0px solid red;
	background-color:black;
}

/*
	SLIDER
*/
/*.slider {
	position: absolute;
	

}
*/
/*
	CONTENT
*/
.content {
	width: 1100px;
	height: 100%;
	position: relative;
	float: left;
	outline: 0px solid gray;
	margin:10px 10px;
	
}
.block {
	width: 350px;
	height: 440px;
	background-color: #262626;
	position: relative;
	float:left;
	margin-right: 15px;
}
.block_margin {
	margin-left:20px;
	margin-top:15px;

}
.block .title{
	font-family: 'HeliosBold';
	font-size: 26px;
	color:white;
	padding: 0px;
	margin:0px;
	text-transform: uppercase;

}
 .step1{
	position: absolute;
	color: blue;
	background: url(i/e1.png) no-repeat;
	font-family: 'Times New Roman';
	height: 15px;
	width: 50px;
	font-size: 26px;
	top: 20px;
	right: 20px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}
 .step2{
	position: absolute;
	color: blue;
	background: url(i/e2.png) no-repeat;
	font-family: 'Times New Roman';
	height: 15px;
	width: 60px;
	font-size: 26px;
	top: 20px;
	right: 20px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}
 .step3{
	position: absolute;
	color: blue;
	background: url(i/e3.png) no-repeat;
	font-family: 'Times New Roman';
	height: 15px;
	width: 65px;
	font-size: 26px;
	top: 20px;
	right: 20px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}
.block img{
	height: 190px;
	width: 310px;
	padding:10px 0;
}
.block a{
	text-decoration: none;
	color:white;
	font-family: 'Times New Roman';
	font-size: 16px;
}
.block .body {
	width: 310px;
}
.block span{
	color:white;
	font-family: 'Times New Roman';
	font-size: 16px;
	display: block;
	word-spacing: 1px;
	display: block;
	text-align: left;
}
.block .more {
	position: absolute;
	height: 30px;
	width: 120px;
	background-color:#6dc5f0;
	right:15px;
	bottom:15px;

}
.block .more a{
	text-align: center;
	display: block;
	margin-top:5px;
	
}
.block-2 .more:hover {
	position: absolute;
	height: 30px;
	width: 120px;
	background-color:white;
	right:15px;
	bottom:15px;

}
.block-3 .more:hover {
	position: absolute;
	height: 30px;
	width: 120px;
	background-color:white;
	right:15px;
	bottom:15px;

}
.block .more a:hover{
	text-align: center;
	display: block;
	margin-top:5px;
	color:#6dc5f0;
	
}
.block-4 {
	width: 715px;
	height: 390px;
	background-color: #262626;
	position: relative;
	margin-top:15px;
	float:left;
}
.block-4 .title{
	font-family: 'HeliosBold';

}
.block-4 .more{
	height: 0;
	width: 100px;
	left: 10px;
	bottom:25px;
	
}
.block-4 .more a{
	margin-top:0;
	font-family: "Times New Roman";
	font-size: 12px;
	text-decoration: underline;
	text-align: none;
	display: block;
	color:#9d9c9c;
	
}

.block-4 .more a:hover {
	color:#6dc5f0;
	}
.block-5 {
	width: 350px;
	height: 390px;
	background-color: #262626;
	position: relative;
	margin-top:15px;
	float:left;
	
}
.block-5 .title{
	font-family: 'HeliosBold';

}
.block-5 .more{
	height: 0;
	width: 100px;
	left: 10px;
	bottom:25px;
	
}
.block-5 .more a{
	margin-top:0;
	font-family: "Times New Roman";
	font-size: 12px;
	text-decoration: underline;
	text-align: none;
	color:#9d9c9c;
	display: block
	
}
.block-5 .more a:hover {
	color:#6dc5f0;
	}

/*
	CONTENT_PAGE
*/
.content_page{

	background:#262626;  
	position: relative;
	/*padding: 0;
	margin: 0;*/
	margin:10px;
	min-height: 580px; 
	/*outline: 1px solid red;*/
	/*min-height: 40em;*/

}
/*
	MINI-PARK
*/
.mini_park {
	position: relative;
	margin: 0;
	padding: 0;
	height: 153px;
	width: 690px;
	outline: 0px solid red;
	border-bottom:1px solid #494848;

}

.mini_park .img_park{
	position: relative;
	float: left;
	margin: 0;
	padding-right: 10px;
	padding-top:10px;
	outline: 0px solid gray;
	display: inline-block;
}
.mini_park img{
	margin: 0;
	padding: 0;
	height: 120px;
	width: 180px;

}
.mini_park .title_park{
	float: left;
	margin: 0;
	padding: 0;
	width: 480px;
	outline: 0px solid blue;
}
.mini_park .title_park h3{
	position: relative;
	margin: 0;
	margin-top:5px;
	padding: 0;
	font-family:'HeliosBold'; 
	font-size:18px;
	color:white;
	outline: 0px solid green;
	
}

.mini_park .body_park span{

	float: left;
	position: relative;
	margin: 0;
	padding-top:5px;
	margin-bottom:5px;
	width: 480px;
	height: 80px;
	overflow: hidden;
	font-family: 'Times New Roman';
	font-size: 14px;
	color:white;
	line-height: 0.95em;
	text-align: justify;

}
.more_park {
	margin: 0;
	height: 0;

}
.more_park  a{
	font-family: "Times New Roman";
	font-size:12px;
	text-decoration: underline;
	color:#9d9c9c;
}
.more_park  a:hover {
	color:#6dc5f0;
}

/*
	Our Project
*/

.our_project {
	margin: 0;
	padding: 0;
	height: 102px;
	width: 320px;
	outline:0px solid red;
	border-bottom:1px solid #494848;
}
.img_project {
	float: left;
	margin: 0;
	margin-top:10px;
	padding: 0;
	padding-right:10px;
	outline:0px solid red;
	height: 85px;
	width: 130px;
}
.img_project img {
	margin: 0;
	padding: 0;
	height: 85px;
	width: 130px;
}
.title_project {
	float: left;
	margin: 0;
	padding: 0;
	margin-top:10px;
	outline:0px solid red;
	width: 180px;
	height: 70px;
	
}
.title_project h3{
	margin: 0;
	padding: 0;
}
.title_project h4 a{
	padding: 0;
	margin: 0;
	font-family: "Times New Roman";
	font-size: 12px;
	color:white;
	outline:0px solid red;
	display: block;
}
.title_project h3 a:hover {
	color:#6dc5f0;
}
.date_project {
	float: left;
	width: 180px;
	font-family: "Times New Roman";
	font-size:12px;
	color:#858585;
	text-align: right;
	margin: 0;
	padding: 0;
	outline:0px solid red;
}
/*
 	FOOTER
*/
footer {
	width: 1100px;		
	height: 80px;
	padding-bottom:25px;
	color:white;
	background: black;
	position: relative;
	float: left;
}
.info_f {
	height: 35px;
	width: 170px;
	outline: 0px solid blue;
	position: absolute;
	font-family:Helvetica;
	font-size: 10px;
	color:white;
	top:20px;
	left:10px;
}
.soc_net {
	margin: 0;
	padding: 0;
	height: 35px;
	width: 100px;
	outline: 0px solid green;
	position: absolute;
	left:200px;
	font-family:Helvetica;
	font-size: 10px;
	color:white;
	text-align: center;
	left:320px;
	top:20px;

}
.soc_net ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.soc_net ul li{
	display: inline-block;
}

.cont {
	height: 35px;
	width: 155px;
	outline: 0px solid green;
	position: absolute;
	left:400px;
	font-family:Helvetica;
	font-size: 10px;
	color:white;
	left:620px;
	top:20px;

}
.copy {
	height: 35px;
	width: 150px;
	outline: 0px solid green;
	position: absolute;
	left:800px;
	font-family:Helvetica;
	font-size: 10px;
	color:white;
	left:955px;
	top:20px;

}


/*
	menu-vybor-maketa-container
*/

.menu-vybor-maketa-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left:10px;
	margin-top:5px;
}
.menu-vybor-maketa-container ul a:before {
	content:"- ";
	padding-right: 2px;
}

.menu-vybor-maketa-container ul a{
	font-weight: bold;

font-family: 'Times New Roman', Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
 
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
.menu-vybor-maketa-container li:hover > a { color: #6dc5f0; }


/*
	MENU_MTYPE
*/

.menu-tip-maketa-container {
	outline:0px solid red;
	margin-left:20px;
	margin-top:10px;

}


#menu-tip-maketa,
#menu-tip-maketa ul,
#menu-tip-maketa li,
#menu-tip-maketa a {
	margin: 0;
	padding: 0;
	border:none;
	outline: none;
	
}

#menu-tip-maketa

 {
	height: 40px;
	width: 200px;
	outline: 0px solid blue;

	background: #4c4e5a;
	background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
}

#menu-tip-maketa li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
}
/*#menu-tip-maketa ul { display: none; }*/

#menu-tip-maketa li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
 
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
 
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
 
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
#menu-tip-maketa li:first-child a { border-left: none; }
#menu-tip-maketa li:last-child a{ border-right: none; }
#menu-tip-maketa li:hover > a { color: #6dc5f0; }

#menu-tip-maketa ul {
    position: absolute;
    top: 40px;
    left: 0;
 
    opacity: 0;
    background: #1f2024;
 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
 
#menu-tip-maketa li:hover > ul { opacity: 1; }
 
#menu-tip-maketa ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
 
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
 
#menu-tip-maketa li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}
#menu-tip-maketa ul li a {
    width: 340px;
    padding: 4px 0 4px 40px;
    margin: 0;
 
    border: none;
    border-bottom: 1px solid #353539;
}
 
#menu-tip-maketa ul li:last-child a { border: none; }

/*
	НЕОБХОДИМАЯ ДОКУМЕНТАЦИЯ
*/

.compl_dock {
	/*outline: 1px solid red;*/
	margin: 0;
	padding: 0;
	height: 1420px;
}
.compl_dock ul {
	list-style-type: none;
	margin: 0;
	padding:0;

	/*outline: 1px solid red;*/
	
}
.compl_dock ul li {
	width: 490px;
	height: 200px;
	margin: 0;
	padding: 0;
	float: left;
	margin-bottom:10px;
	/*display: inline-block;*/	
	/*outline:1px solid gray;*/
	
	

}
/*.compl_dock ul li span {
	float: left;
	margin: 0;
	padding: 0;
	padding-right: 10px;
	display: block;
	width: 200px;
	outline: 1px solid green;
}*/

.compl_dock ul li span {
	/*outline: 1px solid blue;*/
	width: 190px;
	float:right; 
	padding: 0;
	margin: 0;
	display: block;
	
}

.end_sub {
	outline: 0px solid red;
	position: absolute;
	bottom: 30px;
}


/*Type maket*/

.shooce_mak{
	height: 100%;
	margin: 0;
	padding: 0;
	/*outline: 1px solid red;*/
}
.shooce_mak .type{
	margin-top:10px;
	position: relative;
	/*outline: 1px solid red;*/

	/*margin-left:20px;*/
	display: inline-block;
	height: 225px;
}
.shooce_mak .type a {
	padding: 0;
	margin: 0;
}
.shooce_mak .type img{
	/*outline: 1px solid blue;
	/*width: 200px;*/
	float: left;
	margin: 0;
	padding: 0;
	padding-right: 10px;
	
}
.shooce_mak .title {
	/*outline: 1px solid blue;*/
	/*width: 830px;*/
	float: left;
	margin: 0;
	padding: 0;
}
.shooce_mak .title h4{
/*	outline: 1px solid blue;*/
	/*width: 830px;*/
	float: left;
	margin: 0;
	padding: 0;
	
}
.shooce_mak .body {
	/*outline: 1px solid blue;*/
	/*display:block;*/
	width: 670px;
	height: 100px;
	float: left;
	padding: 0;
	margin: 0;
	margin-top:10px;
}
.shooce_mak .more {
	margin-top:70px;
	float: left;
}
.shooce_mak .more  a{
	font-family: "Times New Roman";
	font-size:12px;
	text-decoration: underline;
	color:#9d9c9c;
}

.shooce_mak .more  a:hover {
	color:#6dc5f0;
}

.shooce_mak .d_title {
	/*outline: 1px solid blue;*/
	/*width: 830px;*/
	float: none;
	margin: 0;
	padding: 0;
}
.shooce_mak .d_title h4{
/*	outline: 1px solid blue;*/
	/*width: 830px;*/
	float: none;
	margin: 0;
	padding: 0;
}
.shooce_mak .d_type{
	position: relative;
	/*outline: 1px solid red;*/
	margin-bottom:30px;
	margin-right: 25px;
	margin-left:100px;
	display: inline-block;
	height: 225px;
}
.choose_mak_menu{
	position:absolute;
	float:right;
	top:40px;
	right:50px
}
/*
	CONTACTS
*/
.form_cont{
	/*outline: 1px solid red;*/
	width: 450px;
	float: left;
}
.s_cont {
	/*outline: 1px solid blue;*/
	width: 450px;
	float: left;
}

.wpcf7{
	/*padding-left:20px !important;*/
	font-size:18px;
	

}

/*
	MAKETS
*/
/*
	Type maket
*/
.maket{
	height: 100%;
	margin: 0;
	padding: 0;
	/*padding-left:30px;*/
	padding-top:10px;
	/*outline: 1px solid red;*/
}
.maket .m_type{
	position: relative;
	/*outline: 1px solid red;*/
	margin-right: 0px;
	display: inline-block;
	
}
.maket .last_m_type{
	margin-left:230px;
}
.maket .type a {
	padding: 0;
	margin: 0;
}
.maket .m_type img{
	/*outline: 1px solid blue;*/
	float: left;
	margin: 0;
	padding: 0;
	margin-bottom:10px;


	/*padding-right: 10px;*/
	
}
.maket .m_type img:hover{
	outline:2px solid #6dc5f0;
}
.maket .title {
	/*outline: 1px solid blue;*/
	/*width: 830px;*/
	float: left;
	margin: 0;
	padding: 0;

}


.smaket .more  a{
	font-family: "Times New Roman";
	font-size:12px;
	text-decoration: underline;
	color:#9d9c9c;
}
.maket  a:hover {
	color:#6dc5f0;
}

.maket .m_title {
	/*outline: 1px solid blue;*/
	/*width: 830px;*/
	float: none;
	margin: 0;
	padding: 0;
	padding-bottom: 15px;


}
.maket .m_title h5{
/*	outline: 1px solid blue;*/
	/*width: 830px;*/
	float: none;
	margin: 0;
	padding: 0;
	text-align: center;



}


/*
	    Портфолио макеты
*/
.maket_port {
	/*width: 1060px;*/
	height: 100%;
	background-color: #262626;
	position: relative;
	float:left;
	/*outline: 1px solid red;*/
	margin:0;
	padding: 0;
	padding-left:50px;
	/*padding-right: 50px;*/
	padding-top:10px;
	padding-bottom: 20px

	/*margin-right: 15px;*/
}

.maket_port .title{
	font-family: 'HeliosBold';
	font-size: 26px;
	color:#6dc5f0;
	padding: 0px;
	margin:0px;
	padding-bottom:10px;
	font-weight: none;
	

}
.maket_port .title_maket{
	font-family: 'Times New Roman';
	font-size: 12px;
	color:white;
	width: 220px;
	padding: 0px;
	margin:0px;
	

}


/*.img_project {
	float: left;
	margin: 0;

	margin-top:10px;
	padding: 0;
	padding-right:10px;
	outline:0px solid red;
	height: 85px;
	width: 130px;
}
.img_project img {
	margin: 0;
	padding: 0;
	height: 85px;
	width: 130px;
}*/

.our_maket {
	position: relative;
	/*outline: 1px solid red;*/
	margin-right: 35px;
	display: inline-block;
	margin-top:0px;
	height: 300px;
	overflow: hidden;
}

.our_maket .img_maket a img:hover{
	outline:2px solid #6dc5f0;
	
}

.our_maket .title_maket {
	float: left;
	margin: 0;
	padding: 0;
	width: 300px;
	/*outline:1px solid red;*/
	
	
}
.our_maket .title_maket h3{
	/*	outline: 1px solid blue;*/
	/*width: 830px;*/
	float: none;
	margin: 0;
	padding: 0;
}
.our_maket .body_maket{
	/*	outline: 1px solid blue;*/
	width: 300px;
	color:white;
	float:none;
	margin: 0;
	padding: 0;
}
.title_project h4 a{
	padding: 0;
	margin: 0;
	font-family: "Times New Roman";
	font-size: 12px;
	color:white;
	outline:0px solid red;
	display: block;
}
.title_project h3 a:hover {
	color:#6dc5f0;
}

/*
o nus
*/
.o_teh{
	height: 100%;
	margin: 0;
	padding: 0;
}
.o_teh .type{
	margin-top:10px;
	position: relative;
	display: inline-block;
	height: 150px;
}

.o_teh .type  p{
	float: left;
	margin: 0;
}

.o_teh .type  img{

	float: left;
	margin: 0;
	padding: 0;
	padding-right: 10px;

}
.o_teh .title {
	/*outline: 1px solid blue;*/
	width: 300px;
	float: left;
	margin: 0;
	padding: 0;
}
.o_teh .title h5{

	float: left;
	margin: 0;
	padding: 0;
	
}


/* o mini*/
.omini_park{
	height: 100%;
	
	margin: 0;
	padding: 0;
	/*outline: 1px solid red;*/
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom:10px;
}

.omini_park .park{
	margin-top:20px;
	position: relative;
	/*outline: 1px solid green;*/
	/*margin-left:20px;*/
	display: inline-block;
	height: 225px;
}
.omini_park .park a {
	padding: 0;
	margin: 0;
}
.omini_park .img_park{
	/*outline: 1px solid blue;
	/*width: 200px;*/
	float: left;
	margin: 0;
	padding: 0;
	padding-right: 10px;
	
}
.omini_park img{
	/*outline: 1px solid blue;
	/*width: 200px;*/
	float: left;
	margin: 0;
	padding: 0;
	padding-right: 10px;
	width: 300px;
	height: 225px;

	
}
.omini_park .title_park {
	/*outline: 1px solid blue;*/
	/*width: 830px;*/
	float: left;
	margin: 0;
	padding: 0;
}
.omini_park .title_park h4{
/*	outline: 1px solid blue;*/
	/*width: 830px;*/
	float: left;
	margin: 0;
	padding: 0;
	color: white;
    font-size: 1.17em;
	
}
.omini_park .body_park {
	/*outline: 1px solid blue;*/
	/*display:block;*/
	width: 660px;
	height: 100px;
	float: left;
	padding: 0;
	margin: 0;
	margin-top:10px;
	color:white;
	font-size:1.1em;
	text-align: justify;
}
.omini_park .body_park p {
	padding: 0;
	margin: 0;
}
.omini_park .more_park {
	margin-top:70px;
	float: left;
	
}
.omini_park .more_park  a{
	font-family: "Times New Roman";
	font-size:12px;
	text-decoration: underline;
	color:#9d9c9c;
	/*outline: 1px solid red;*/
	
}
.omini_park .more_park  a:hover {
	color:#6dc5f0;
}

/*
		Breadcrumb
*/

ul.breadcrumbs, ul.breadcrumbs li {
    list-style-type:none;
    padding:0;
    margin:0;
	font: 14px 'Times New Roman',Verdana,Arial,Sans-Serif;
}
ul.breadcrumbs {
    margin:0px 0 0 0;
    height:26px;
    margin-left: 40px;
    border:0px solid #d0d0d0;
}
ul.breadcrumbs li {
    float:left;
    line-height:26px;
    font-size: 14px;
    color: white;
    padding-left:10px;
}			
ul.breadcrumbs li a {
    background:url(i/crumbs.png) no-repeat right center;
    display:block;
    padding:0 20px 0 0;
}
ul.breadcrumbs li a:link,
ul.breadcrumbs li a:visited {
    color: #777;
    text-decoration:none;
}	
ul.breadcrumbs a:link, 
ul.breadcrumbs a:visited,	
ul.breadcrumbs li a:hover,
ul.breadcrumbs li a:focus {
    color:#6dc5f0;
}
ul.breadcrumbs .hm{
    float:left; 
    margin:7px 5px 0 0;
    position: relative;
    top: -1px;
}

/*------------------------------------------------------------------------------------*/

.alignleft {float:left; margin-right:10px;}
.alignright {float:right; margin-left:10px;}
.aligncenter {margin-left:auto; margin-right:auto; display:block}